.item {
  display: flex;
  gap: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  position: relative;
}
.item::after {
  content: "";
  position: absolute;
  height: 1px;
  inset: auto 0 0 0;
  background-color: var(--secondary-100);
}
.item div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.specs {
  order: -1;

  position: relative;
  padding-left: var(--spacing-xs);
}
.specs::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  inset: 0 auto 0 0;
  border-radius: 10px;
  background-color: hotpink;
}
.specs.Vanaheim::before {
  background-color: var(--accent-red);
}
.specs.Midgard::before {
  background-color: var(--accent-purple);
}
.specs.Jotunheim::before {
  background-color: var(--accent-green);
}
.bottomText {
  color: var(--accent-orange);
  font-weight: 700;
}

@media only screen and (min-width: 1200px) {
  .item {
    font-size: var(--type-body);
  }
}
