.navbarWrapper {
  background: var(--primary-100);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
  width: 100%;
  justify-content: space-around;
  color: var(--secondary-300);
  font-weight: var(--fw-bold);
  padding: var(--spacing-xs);
  max-width: 600px;
}

.navbarWrapper a {
  display: flex;
  flex-direction: column;
  width: 64px;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--type-body);
  cursor: pointer;
}

.navbarWrapper a img {
  width: 36px;
  height: 36px;
}

.navbarWrapper a.active p {
  color: var(--accent-orange);
}

@media screen and (min-width: 768px) {
  .navbarWrapper {
    position: absolute;
    top: 0;
    height: fit-content;
  }
}
