.img {
  width: 150px;
  height: auto;
  aspect-ratio: 3/2;
  display: block;
  object-fit: contain;
  border-radius: var(--spacing-2xs);
  overflow: hidden;
  background-color: var(--primary-300);
}

.wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
}

.wrapper h2 {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: var(--spacing-3xs);
  font-size: var(--type-small);
  color: var(--secondary-300);
  background: rgba(27, 27, 27, 0.9);
  backdrop-filter: blur(2px);
}
