.BandView {
  background-color: var(--primary-300);
  color: var(--secondary-100);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-2xl);
}

.BandView > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}
.top {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.top > button {
  width: 7%;
}

.BandImage {
  align-self: center;
  object-fit: contain;
  background-color: var(--primary-200);
  border-radius: var(--spacing-xs);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-2xs);
}

.title h1 {
  color: var(--secondary-300);
  font-size: var(--type-h5);
  font-weight: var(--fw-bold);
  line-height: 1;
}

.description {
  color: var(--secondary-200);
}

.description h2 {
  font-size: var(--type-label);
  line-height: 1.4;
  margin-bottom: var(--spacing-s);
}
.description p {
  font-size: var(--type-body);
  line-height: 1.4;
}

.memberList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  color: var(--secondary-300);
}

.memberList h3 {
  font-size: var(--type-body);
  font-weight: var(--fw-bold);
}
.memberList > ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.starYellow {
  color: var(--accent-yellow);
}
.starGrey {
  color: var(--secondary-100);
}
.starYellow *,
.starGrey * {
  pointer-events: none;
}
.backbutton {
  width: 36px;
  color: var(--accent-orange);
  font-size: var(--type-h5);
}

/* genres */
.Rock {
  color: var(--accent-orange-2);
}

.Pop {
  color: var(--accent-teal);
}

.Punk {
  color: var(--accent-red);
}

.Soul {
  color: var(--accent-pink);
}

.Rap {
  color: var(--accent-yellow);
}

.Country {
  color: var(--accent-green);
}

.Electronic {
  color: var(--accent-blue);
}
